@model IEnumerable<chat_site_istemci.Entities.User>

<div id="plist" class="people-list">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-search"></i></span>
        </div>
        <input type="text" class="form-control" placeholder="Search...">
    </div>
    <ul class="list-unstyled chat-list mt-2 mb-0">
         @foreach (var chat in Model)
        {
            <li class="clearfix" onclick="selectChat('@chat.UserId')">
                <img src="@chat.ProfileImageFileName" alt="avatar">
                <div class="about">
                    <div class="name">@chat.Username</div>
                    <div class="status">

                        @if (chat.IsOnline)
                        {
                            <i class="fa fa-circle online"></i>
                            <span>Online</span>
                        }
                        else
                        {
                            <i class="fa fa-circle offline"></i>
                            <span>@chat.CreatedAt</span>
                        }
                    </div> 
                </div>
            </li>
        }
    </ul>
</div>
