@model IEnumerable<User>

<div class="row clearfix">
    <div class="col-lg-4">
        @Html.Partial("ChatsList", Model)
    </div>
    <div class="col-lg-8" id="chat-content">
        <p class="text-center">Select a chat to start messaging.</p>
    </div>
</div>